@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

.navbar-brand {
	
	font-size:25px;
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link{
	padding: 10px;
	font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.navbar-toggler-icon {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iMzJweCIgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMyIDMyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNNCwxMGgyNGMxLjEwNCwwLDItMC44OTYsMi0ycy0wLjg5Ni0yLTItMkg0QzIuODk2LDYsMiw2Ljg5NiwyLDhTMi44OTYsMTAsNCwxMHogTTI4LDE0SDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDIgIHMwLjg5NiwyLDIsMmgyNGMxLjEwNCwwLDItMC44OTYsMi0yUzI5LjEwNCwxNCwyOCwxNHogTTI4LDIySDRjLTEuMTA0LDAtMiwwLjg5Ni0yLDJzMC44OTYsMiwyLDJoMjRjMS4xMDQsMCwyLTAuODk2LDItMiAgUzI5LjEwNCwyMiwyOCwyMnoiLz48L3N2Zz4=);
}

.body-container{
    margin-top: 5px;
}

.box-header{
    color: #004085;
    background-color: #cce5ff;
    padding: 5px;
}
.error .box-header{
    color: #721c24;
    background-color: #f8d7da;
}
.inner-block.error .col-md-12{
    border-color: #f5c6cb;
}
.inner-block .list-group .list-group-item{
    padding: 3px 0;
    text-align: center;
    font-size: 12px;
    border-radius: 0;

}

.inner-block{
    margin: 5px 0;
}

.inner-block .col-md-12{
    border: 1px solid #b8daff;
    padding: 0;
    border-radius: .25rem;
}

.inner-block label{
    width: 100%;
    padding: 0;
}

.inner-block .input-control{
    padding: 5px;
}

.main-block .text-field {
    width: 100%;
}
.pad-0{
    padding: 0;
}

.summary-block{
    border: 1px solid #b8daff;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}
.summary-block textarea{
    width: 100%;
    border-color: #ccc;
    height: 100px;
}
.summary-block label{
    margin: 0;
}
.header-info-cart p{
    margin:0;
    line-height: 1.3;
    color: #004085;
}
.header-info-cart small{
    margin:0;
}

.verticle-shadow{
    border-width: 0px 1px 0px 1px;
    border-style: solid solid solid solid;
    border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #cce5ff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #cce5ff;
  outline: 0 none;
}

.inner-block textarea.error,
.inner-block input[type="text"].error,
.inner-block input[type="password"].error,
.inner-block input[type="datetime"].error,
.inner-block input[type="datetime-local"].error,
.inner-block input[type="date"].error,
.inner-block input[type="month"].error,
.inner-block input[type="time"].error,
.inner-block input[type="week"].error,
.inner-block input[type="number"].error,
.inner-block input[type="email"].error,
.inner-block input[type="url"].error,
.inner-block input[type="search"].error,
.inner-block input[type="tel"].error,
.inner-block input[type="color"].error,
.inner-block .uneditable-input.error{
    color: #721c24;
    background-color: #f8d7da;
}

.main-block h5{
    margin: 5px 0;
}

.fill-height{
    position: relative;
     min-height: 100%;
     height:100vh;
   }
  
.screen-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Georgia';
    font-weight: bold
  }
  